<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Veramun</title>
    {% load static %}
    <link rel="stylesheet" href="{$ static 'hotel/css/general_style'   $}">
    
</head>
<body>
    <div class="container">

        <!-- Barra de navegación -->
        <div class="navbar clearfix">
          <a  class="tablinks left" ><i class='bx bxs-user-circle'></i>Iniciar sesión</a>
          <a  class="tablinks right" >CONTACTO</a>
          <a  class="tablinks right" >NOSOTROS</a>
          <a  class="tablinks right" >RESERVA</a>
          <a  class="tablinks right" >TOURS</a>
          <a href="" class="tablinks right" >INICIO</a>
        </div>
        {$ block contenodo $}


        {$ endblock $}
        <footer>
            
        </footer>


        
    </div>


<!-- Esto es solo para la programacion 
    especifica del html que es esta usando
    {$ block contenodo $}
    {$ endblock $}
     -->

    {$ block jss $}
    {$ endblock $}
   

    
</body>
</html>



<!--{$  $}-->