<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Veramun</title>
    {% load static %}
    <link rel="stylesheet" href="{$ static 'hotel/css/general_style'   $}">
    
</head>
<body>



<!-- Esto es solo para la programacion 
    especifica del html que es esta usando
    {$ block contenodo $}
    {$ endblock $}

    {$ block jss $}
    {$ endblock $}
    -->

    
</body>
</html>



<!--{$  $}-->